@import "../../../../../../style/Variables.scss";

.Card {
    width: 100%;
    height: 300px;
    border: 1px solid $accent-color;
    border-radius: 2px;
    margin-bottom: 10px;
    cursor: pointer;
    &:last-child {
        margin-bottom: 0px;
    }
    &:hover {
        box-shadow: 0 0 5px $accent-color;
        transition: 0.3s;
    }
}