@import "../../../../../style/Variables.scss";

.Skill {
    width: 25%;
    display: flex;
    flex-direction: row;
    .Level {
        display: flex;
        flex-direction: row;
        position: relative;
        top: 6px;
        .Point, .PointPlaceholder {
            width: 7px;
            height: 7px;
            background-color: lighten($accent-color, 15%);
            border-radius: 10px;
            margin-left: 4px;
            &:last-child {
                margin-right: 0;
            }
        }
    
        .PointPlaceholder {
            background-color: lighten($accent-color, 35%);
        }
    }
    
}