@import "../../style/Variables.scss";

.Header {
    font-family: $header-font;
    font-size: 35px;
}

.Label {
    font-family: $body-font;
    font-size: 20px;
}

.Body {
    font-family: $body-font;
    font-size: 14px;
}

.BodyItalic {
    font-family: $body-font;
    font-size: 14px;
    font-style: italic;
}

.Display {
    font-family: $accent-font;
    font-size: 40px;
}