@import "../../style/Variables.scss";

.Navigation {
    height: 100vh;
    width: 35vw;
    background-color: $accent-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .Profile {
        .Image {
            display: block;
            position: relative;
            width: 175px;
            height: 175px;
            margin: 0 auto;
            .placeholder {
                width: 175px;
                height: 175px;
                border-radius: 100px;
                background-color: white;
            }
        }
        .Bio {
            margin-top: 30px;
            text-align:center;
            .Name {
                > .StyledText {
                    color: rgba($secondary-color, 0.9);
                    font-size: 25px;
                }
            }
            .Info {
                > .StyledText {
                    color: rgba($tertiary-color, 0.5);
                }
            }
        }
    }

    .Buttons {
        margin-top: 50px;
    }

    hr {
        margin: 0 auto;
        border: none;
        background-color: $secondary-color;
        height: 1px;
        color: $secondary-color;
    }
}