@import "../../../../../style/Variables.scss";

.Card {
    width: 100%;
    border: 1px solid $accent-color;
    border-radius: 2px;
    margin-bottom: 10px;
    @media(min-width: 601px) {
        height: 300px;
    }
    cursor: pointer;
    &:last-child {
        margin-bottom: 0px;
    }
    &:hover {
        box-shadow: 0 0 5px $accent-color;
        transition: 0.3s;
    }
}

@media (max-width: $small-screen) {
    .Card {
        margin: 5px;
        width: 33vw;
        height: 30vh;
        flex-shrink: 0;
    }
}