@import "../../../../style/Variables.scss";

.Art {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    .Content {
        display: flex;
        flex-direction: row;
        .Information {
            width: 20vw;
            min-width: 250px;
            padding: 0px 5px;
            .GeneralInfo {
                padding-top: 20px;
            }
            .DisplayedInfo {
                border-radius: 2px;
                border: 1px dotted $accent-color;
                position: absolute;
                top: 50%;
                padding: 5px;
            }
        }
        .Display {
            width: 50vw;
            padding: 10px;
            min-width: 400px;
            .Canvas {
                border-radius: 2px;
                width: 100%;
                height: 100%;
                background-color: $accent-color;
            }
        }
        .Gallery {
            min-width: 200px;
            padding: 10px;
            width: 20vw;
            overflow: auto;
        }
    }
}