@import "../../../../style/Variables.scss";

.Resume {
    height: 100vh;
    width: 65%;
    overflow: auto;
    .Content {
        position: relative;
        padding: 20px 15px;

        .Section {
            .SectionContent {
                position: relative; 
                left: 5%;
                width: 90%;
                .Degrees {
                    display: flex;
                    flex-direction: row;
                    > :first-child {
                        margin-right: 20px;
                    }
                }
                .Scholarship {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .Experience {
                    display: flex;
                    flex-direction: row;
                    margin: 10px 0px;
                    border-radius: 2px;
                    border: 1px dotted $accent-color;
                    padding: 3px;
                    .AboutExperience {
                        margin-right: 10px;
                        width: 35%;
                    }
                }
                .Activity {
                    margin: 10px 0px;
                }

                .Skills {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
            }
        }
    }
}