@import "../../../style/Variables.scss";

.ButtonGroup {
    display: flex;
    flex-direction: row;
    width: 100px;
    margin: 0 auto;
    .Icon {
        height: 20px;
        width: 20px;
        border-radius:13px;
        background-color: $tertiary-color;
        margin-right: 20px;
    }
    .Button {
        position: relative;
        cursor: pointer;
        top: 2px;
        margin-bottom: 40px;
        .StyledText {
            color: $primary-color;
            font-size: 13px;
        }
    }
}