@import "../../../style/Variables.scss";

.Button {
    cursor: pointer;
    padding: 4px;
    border-radius: 3px;
    background-color: $tertiary-color;
    transition: 0.3s;
    .StyledText {
        color: $primary-color;
    }

    &:hover {
        background-color: rgba($accent-color, 0.5);
        transition: 0.3s;
    }
}