@import "../../../style/Variables.scss";

.ButtonGroup {
    display: flex;
    flex-direction: row;
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
    .Icon {
        height: 20px;
        width: 20px;
        border-radius:13px;
        background-color: $tertiary-color;
        margin-right: 20px;
    }
    .Button {
        position: relative;
        top: 2px;
        margin-bottom: 40px;
        .StyledText {
            color: $primary-color;
            font-size: 13px;
        }
    }

    &:hover {
        .Icon {
            height: 30px;
            width: 30px;
            border-radius: 15px;
            transition: 0.3s;
        }
        .Button {
            top: 5px;
        }
    }
}